In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import datetime as dt

In [2]:
data_1 = pd.DataFrame()
tickers = ['EWA', 'EWZ', 'EWC', 'FXI', 'EWQ', 'EWG', 'EWH', 'EWI', 'EWJ', 'EWY',
           'EWN', 'EWS', 'EZA', 'EWP', 'EWD', 'EWL', 'EWT', 'EWU', 'IVV']
q = len(tickers)
records = 0
for i in tickers:
    tmp = web.DataReader(i, 'yahoo', '1/3/2005', '12/31/2012')   #1/3 is the first business day of 2005
    data_1[i] = tmp['Adj Close']
    if records == 0:
        records = len(tmp)
    else:
        records = min(records, len(tmp))

data_1.head()

,EWA,EWZ,EWC,FXI,EWQ,EWG,EWH,EWI,EWJ,EWY,EWN,EWS,EZA,EWP,EWD,EWL,EWT,EWU,IVV
Date,,,,,,,,,,,,,,,,,,,
2005-01-03,8.217886,14.126711,12.931461,13.237745,16.154015,13.303169,7.709301,31.728643,34.990158,23.648851,12.649429,7.995531,23.410761,19.021193,12.767601,12.915568,15.704612,20.224211,88.355942
2005-01-04,8.073186,13.520161,12.553794,12.872897,15.789632,13.037824,7.522993,31.005836,34.406452,23.001278,12.464212,7.859820,22.539045,18.658321,12.447660,12.509844,15.347388,19.853024,87.292419
2005-01-05,8.103125,13.402760,12.387615,12.580059,15.809880,13.044994,7.355958,31.167849,34.374020,23.157021,12.381896,8.006838,21.926809,18.555410,12.441620,12.509844,15.281234,19.864275,86.764305
2005-01-06,8.118093,13.285370,12.319633,12.594460,15.769397,13.052168,7.426626,31.142916,34.374020,22.771757,12.416193,8.153857,21.282505,18.642071,12.465767,12.524873,15.268003,19.853024,87.116364
2005-01-07,8.108113,13.467980,12.289425,12.481648,15.722158,12.966111,7.349532,30.818907,34.179440,22.706182,12.278999,8.040765,21.396206,18.241280,12.314852,12.284440,15.148928,19.875515,86.954994

In [3]:
data_1.to_csv("data_firsthalf.csv")