In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import datetime as dt

In [2]:
data = pd.DataFrame()
close = pd.DataFrame()
high = pd.DataFrame()
low = pd.DataFrame()
tickers = ['EWA', 'EWZ', 'EWC', 'FXI', 'EWQ', 'EWG', 'EWH', 'EWI', 'EWJ', 'EWY',
           'EWN', 'EWS', 'EZA', 'EWP', 'EWD', 'EWL', 'EWT', 'EWU', 'IVV']
q = len(tickers)
for i in tickers:
    tmp = web.DataReader(i, 'yahoo', '1/3/2005', '12/31/2019')   #1/3 is the first business day of 2005
    close[i] = tmp['Close']
    data[i] = tmp['Adj Close']
    high[i] = tmp['High']
    low[i] = tmp['Low']

In [3]:
data.head()

,EWA,EWZ,EWC,FXI,EWQ,EWG,EWH,EWI,EWJ,EWY,EWN,EWS,EZA,EWP,EWD,EWL,EWT,EWU,IVV
Date,,,,,,,,,,,,,,,,,,,
2005-01-03,8.096329,13.960760,12.801544,13.128471,16.048155,13.164283,7.563420,31.394938,34.714676,23.648851,12.573286,7.905364,22.997406,18.841242,12.727464,12.706832,15.704612,19.919771,87.991096
2005-01-04,7.953772,13.361337,12.427669,12.766636,15.686164,12.901708,7.380638,30.679733,34.135559,23.001278,12.389185,7.771184,22.141087,18.481796,12.408527,12.307665,15.347388,19.554167,86.931953
2005-01-05,7.983264,13.245315,12.263162,12.476211,15.706274,12.908807,7.216763,30.840042,34.103386,23.157021,12.307363,7.916544,21.539658,18.379864,12.402509,12.307665,15.281234,19.565247,86.406013
2005-01-06,7.998014,13.129302,12.195864,12.490494,15.666056,12.915905,7.286095,30.815371,34.103386,22.771757,12.341455,8.061905,20.906729,18.465704,12.426581,12.322451,15.268003,19.554167,86.756622
2005-01-07,7.988182,13.309770,12.165953,12.378614,15.619126,12.830743,7.210459,30.494770,33.910339,22.706182,12.205086,7.950090,21.018419,18.068705,12.276138,12.085903,15.148928,19.576326,86.595924

In [5]:
close.to_csv("data_close.csv")
data.to_csv("data_adjclose.csv")
high.to_csv("data_high.csv")
low.to_csv("data_low.csv")